.product_table {
	border-collapse: collapse;
	margin-top: 20px;
}

.product_table th, .product_table td {
	border: solid 1px black;
	padding: 5px;
}

.product_image {
	height: 150px;
}

.navbar-light .navbar-brand.logo {
	color: #283c63;
	font-size: 25px;
	font-weight: bold;
}

.main {
	background-color: #fcf0cd;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
}

.main_title {
	color: #283c63;
}

.contents {
	padding-top: 30px;
}
.search {
	margin: 20px 0;
}

.search .btn.btn-outline-secondary {
	background-color: #f1eaf5;
}
.category {
	padding: 10px;
}

.nav_title {
	font-size: 16px;
	color: #283c63;
	background-color: #f0b400;
	padding: 10px 0;
}

.category_menu a {
	display: block;
}

.products {
	margin-top: 50px;
}
.product.card {
	margin-bottom: 20px;
	padding: 10px;
	border: solid 5px #f0b400;

}

.product_row {
	align-items: center;
}
.product_figure {
	/* padding: 10px; */
}
.product_description {

}
.product_title {
	font-size: 20px;
}
.product_title a {
	color: #f85f73;
}

.card.about {
	margin-bottom: 50px;
}